# **30/08/24**

In [ ]:
#Python Basics
#Variables
a=5
print(a)

5

In [ ]:
#Keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
class=3
print(class)

SyntaxError: invalid syntax (<ipython-input-3-9cba0bde2348>, line 1)

In [ ]:
2a=3
print(2a)

SyntaxError: invalid decimal literal (<ipython-input-4-3337d5ec3b79>, line 1)

In [ ]:
a b=7
print(a b)

SyntaxError: invalid syntax (<ipython-input-5-eef8e28d13cc>, line 1)

In [ ]:
a__b=6
print(a__b)

6

In [ ]:
#Datatypes in Python
#Integer,string,float,boolean
a = 4
print(a)
print(type(a))

4
<class 'int'>

In [ ]:
#String

In [ ]:
g = "4"
print(g)
print(type(g))

4
<class 'str'>

In [ ]:
h = "dharshak"
print(h)
print(type(h))

dharshak
<class 'str'>

In [ ]:
d = "    "
print(d)
print(type(d))

<class 'str'>

In [ ]:
#float

In [ ]:
d = 4.5
print(d)
print(type(d))

4.5
<class 'float'>

In [ ]:
d = "4.5"
print(d)
print(type(d))

4.5
<class 'str'>

In [ ]:
#boolean
d = True
print(d)
print(type(d))

True
<class 'bool'>

In [ ]:
#operators

In [ ]:
#arithmetic operators
# + - addition , - subtraction , * multiply , / - division , // - floor division , % - modulus , ** - exponentiation

In [ ]:
#addition
a = 5
b = 6
c = a+b
print(c)

11

In [ ]:
#subtraction
a = 5
b = 6
c = a-b
print(c)

-1

In [ ]:
#multiply
a = 5
b = 6
c = a*b
print(c)

30

In [ ]:
#division
a = 18
b = 6
c = a/b
print(c)

3.0

In [ ]:
#floordivision
a = 23
b = 6
c = a//b
print(c)

3

In [ ]:
#modulus
a = 5
b = 6
c = a%b
print(c)

5

In [ ]:
#exponentitation
a = 3
b = 5
c = a**b
print(c)

243

In [ ]:
3*3*3*3*3

243

In [ ]:
#Assignment operators
# = - equal to , += - plus equal to , -= - minus equal to , *= - multiplyequalto , /= - division equalto , //= floordivision equalto,
# %= modulus equalto , **= exponentitation equalto

In [ ]:
a = 10
b = 12
a += b #a=a+b
print(a)

22

In [ ]:
a = 10
b = 12
a -= b #a=a-b
print(a)

-2

In [ ]:
a = 10
b = 12
a *= b #a=a*b
print(a)

120

In [ ]:
a = 10
b = 12
a /= b #a=a/b
print(a)

0.8333333333333334

In [ ]:
a = 10
b = 12
a //= b #a=a//b
print(a)

0

In [ ]:
a = 10
b = 12
a %= b #a=a%b
print(a)

10

In [ ]:
a = 10
b = 12
a **= b #a=a**b
print(a)

1000000000000

In [ ]:
#input function
a = int(input("enter the value of a :")) #type conversion
print(type(a))
b = int(input("enter the value of b :"))
print(type(b))
c = a+b
print(c)

enter the value of a :10
<class 'int'>
enter the value of b :15
<class 'int'>
25

In [ ]:
#comparison operator
# == - equalto equalto, <= - lessthen equalto , >= greaterthen equalto , != notqualto , < - lessthen , > - greator then

In [ ]:
a = 120
a == 12

False

In [ ]:

a = 145
a <= 145

True

In [ ]:
a = 145
a >= 145

True

In [ ]:
a = 145
a != 50

True

In [ ]:
a = 145
a > 150

False

In [ ]:
#logical operators
# and , or , not

In [ ]:
a = 10
a < 20 and a == 11 # satisfies all conditions

False

In [ ]:
a = 10
a < 20 or a == 11 # satisfy any one condition

True

In [ ]:
a = 100
not a < 20

True

# **Sep 2 2024**

In [ ]:
#if conditions

In [ ]:
a = int(input("enter the age:"))
if a >= 18:
  print("your are eligible")

enter the age:17

In [ ]:
#else conditions

In [ ]:
a = int(input("enter the age:"))
if a >= 18:
  print("your are eligible")
elif a <=0 or a >=130:
  print("enter the age correctly")
else:
  print("not eligible for vote")

In [ ]:
#for loop, while loop and range

In [ ]:
range(10) # 0 to 9 (total 10 values)

range(0, 10)

In [ ]:
range(0,10)

range(0, 10)

In [ ]:
for i in range(10): # i is a variable (we can use any)
 print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(5,26,5): #
 print(i)

5
10
15
20
25

In [ ]:
for i in range(0,10,2):
 print(i)

0
2
4
6
8

In [ ]:
for i in range(-10,2,2):
 print(i)

-10
-8
-6
-4
-2
0

In [ ]:
#nested loop

In [ ]:
for i in ["praba","dharshak","vignesh"]:
  print(i)
  for var in [1,2,3]:
    print(var)

praba
1
2
3
dharshak
1
2
3
vignesh
1
2
3

In [ ]:
for i in ["praba","dharshak","vignesh"]:
  print(i)
  for var in [1,2,3]:
    print(var)
    for j in ["aa","bb","cc"]:
     print(j)

praba
1
aa
bb
cc
2
aa
bb
cc
3
aa
bb
cc
dharshak
1
aa
bb
cc
2
aa
bb
cc
3
aa
bb
cc
vignesh
1
aa
bb
cc
2
aa
bb
cc
3
aa
bb
cc

In [ ]:
#while loop

In [ ]:
while True:
  print("praba")

In [ ]:
i = 0
while i <= 10:
  print(i)
  i +=1 # i = i +1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0
while i <= 10:
  print(i)
  i +=1 # i = i +1
else:
  print("loop completed")

0
1
2
3
4
5
6
7
8
9
10
loop completed

In [ ]:
#datatypes
#list
#dictionary
#set
#tuple

In [ ]:
#list
list_1=[1,2.3,"hello",True] #mutable
print(type(list_1))

<class 'list'>

In [ ]:
list_2=[1,2.3,"hello",True]
list_2

[1, 2.3, 'hello', True]

In [ ]:
list_2.append("hi")
list_2

[1, 2.3, 'hello', True, 'hi']

In [ ]:
list_2

[1, 2.3, 'hello', True, 'hi']

In [ ]:
list_em =[]

In [ ]:
list_em =[]
for i in range(5):
  list_em.append(i)

print(list_em)

[0, 1, 2, 3, 4]

In [ ]:
list_2[2] #indexing

'hello'

In [ ]:
list_2

[1, 2.3, 'hello', True, 'hi']

In [ ]:
list_2[-1:-5:-1]

['hi', True, 'hello', 2.3]

In [ ]:
list_2

[1, 2.3, 'hello', True, 'hi']

In [ ]:
list_2.append(70)

In [ ]:
list_2

[1, 2.3, 'hello', True, 'hi', 70]

In [ ]:
list_2.count("hello") #count the data

1

In [ ]:
list_2.count(1) #it count the true value

2

In [ ]:
list_2.count(0) #it count the false value

0

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
list_2

[1, 2.3, 'hello', True, 'hi', 70]

In [ ]:
list_2.index("hello")

2

In [ ]:
list_3 = list_2.copy()

In [ ]:
print(list_3)

[1, 2.3, 'hello', True, 'hi', 70]

In [ ]:
# diff between extend and append and how it works?

In [ ]:
#sort

In [ ]:
list_4 = [1,3,-4,3.4,56,0]
list_4.sort()

In [ ]:
list_4

[-4, 0, 1, 3, 3.4, 56]

In [ ]:
list_4.sort(reverse=True)
print(list_4)

[56, 3.4, 3, 1, 0, -4]

In [ ]:
#append
"""Purpose: Adds a single element to the end of the list.
How It Works: The element you provide to append() is added as a single item at
the end of the list, regardless of whether it is a single value, another list,
or any other data type."""

In [ ]:
mylist = [1,2,3]
mylist.append(4)
print(mylist)

[1, 2, 3, 4]

In [ ]:
mylist.append([5,6,7])
print(mylist)

[1, 2, 3, 4, [5, 6, 7]]

In [ ]:
#extend
"""Purpose: Adds all elements of an iterable (like a list, tuple, or string) to
the end of the list.
How It Works: The elements of the iterable you provide to extend() are
individually added to the list, rather than adding the iterable itself as a single element."""

In [ ]:
my_list=[1,2,3,4] #extending with list
my_list.extend([5,6])
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
my_list.extend("78") #extending with string
print(my_list)

[1, 2, 3, 4, 5, 6, '7', '8']

In [ ]:
"""Key Differences:
append():

Adds its argument as a single element to the end of the list.
If the argument is a list, it is added as a single nested list.
extend():

Iterates over its argument, adding each element to the list.
If the argument is a list, each element of the list is added to the original list individually."""

In [ ]:
#visual example

In [ ]:
# Using append
list1 = [1, 2, 3]
list1.append([4, 5])
print(list1)  # Output: [1, 2, 3, [4, 5]]

In [ ]:
# Using extend
list2 = [1, 2, 3]
list2.extend([4, 5])
print(list2)  # Output: [1, 2, 3, 4, 5]

# **sep 3 2024**

In [ ]:
"""append', 'clear','copy','count','extend','index','insert','pop','remove','reverse','sort'"""

In [ ]:
#insert
list4 = [1, 2, 3]
list4.insert(3,4)
print(list4)

[1, 2, 3, 4]

In [ ]:
#remove
list4.remove(4)
print(list4)

[1, 2, 3]

In [ ]:
#Tuple
#IMMUTABLE

In [ ]:
a = 1,2,3,4
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
b = (1)
print(b)
print(type(b))

1
<class 'int'>

In [ ]:
b = (1,)
print(b)
print(type(b))

(1,)
<class 'tuple'>

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#count
b = (1,2,3,4,5,6,6)
coun = b.count(6)
print(coun)

2

In [ ]:
#index
b = (1,2,3,4,5,6,6)
coun = b.index(6)
print(coun)

5

In [ ]:
#set
#remove duplicates value

In [ ]:
se = {1,2.3,"hello",6,True,False,-100}
print(se)
print(type(se))

{False, 1, 2.3, 6, 'hello', -100}
<class 'set'>

In [ ]:
se #unordered and unindexed datatype

{-100, 1, 2.3, 6, False, 'hello'}

In [ ]:
se[2]

TypeError: 'set' object is not subscriptable

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [ ]:
# diff between discord and remove...

In [ ]:
"""remove():

Behavior: Removes the specified element from the set.
Raises an Error: If the element is not found in the set, it raises a KeyError.
Usage: Use remove() when you are certain the element is present in the set, or
if you want to explicitly handle the case when it is not present."""

In [ ]:
my_set = {1, 2, 3}
my_set.remove(2)  # Removes 2 from the set
my_set.remove(4)  # Raises KeyError since 4 is not in the set

KeyError: 4

In [ ]:
"""discard():

Behavior: Removes the specified element from the set.
No Error Raised: If the element is not found in the set, it does not raise any error;
the set remains unchanged.
Usage: Use discard() when you want to remove an element without worrying about
whether it exists in the set or not."""

In [ ]:
my_set = {1, 2, 3}
my_set.discard(2)  # Removes 2 from the set
my_set.discard(4)  # No error, set remains unchanged
print(my_set)

{1, 3}

In [ ]:
"""In summary:

Use remove() when you need to ensure the element is removed and want to handle
the case where it's not found.
Use discard() when you want to remove the element without worrying about its presence in the set."""

In [ ]:
#dictionary

In [ ]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
b ={}
print(type(b))

<class 'dict'>

In [ ]:
sample1 = {"1":"hello","2":"hi","3":"good","4":"five"}
print(sample1)
print(type(sample1))

{'1': 'hello', '2': 'hi', '3': 'good', '4': 'five'}
<class 'dict'>

In [ ]:
sample1.keys()

dict_keys(['1', '2', '3', '4'])

In [ ]:
sample1.values()

dict_values(['hello', 'hi', 'good', 'five'])

In [ ]:
sample1.items()

dict_items([('1', 'hello'), ('2', 'hi'), ('3', 'good'), ('4', 'five')])

In [ ]:
sample1

{'1': 'hello', '2': 'hi', '3': 'good', '4': 'five'}

In [ ]:
sam = sample1.values()
for i in sam:
  print(i)

hello
hi
good
five

In [ ]:
users = {"user1" : {"name":"praba","mobile":67899},
"user2" : {"name":"dharshak","mobile":357584},
"user3" : {"name":"vignesh","mobile":4878592}}

In [ ]:
users

{'user1': {'name': 'praba', 'mobile': 67899},
 'user2': {'name': 'dharshak', 'mobile': 357584},
 'user3': {'name': 'vignesh', 'mobile': 4878592}}

In [ ]:
users['user3']

{'name': 'vignesh', 'mobile': 4878592}

In [ ]:
for i in users:
  print(i)

user1
user2
user3

In [ ]:
for i in users:
  print(i['names'])

TypeError: string indices must be integers

In [ ]:
for i in users.values():
  print(i['name'])

praba
dharshak
vignesh

In [ ]:
for i in users.keys():
  print(i)

user1
user2
user3

In [ ]:
#clear
sample1.clear()
print(sample1)

{}

In [ ]:
#copy
sample4 = users.copy()
print(sample4)

{'user1': {'name': 'praba', 'mobile': 67899}, 'user2': {'name': 'dharshak', 'mobile': 357584}, 'user3': {'name': 'vignesh', 'mobile': 4878592}}

In [ ]:
#get
print(sample4.get('user1'))
print(sample4.get('user4'))

{'name': 'praba', 'mobile': 67899}
None

In [ ]:
#pop
sample4.popitem()

('user3', {'name': 'vignesh', 'mobile': 4878592})

In [ ]:
print(sample4)

{'user1': {'name': 'praba', 'mobile': 67899}, 'user2': {'name': 'dharshak', 'mobile': 357584}}

In [ ]:
#fromkeys
sample4.fromkeys('')

{'p': None, 'r': None, 'a': None, 'b': None}

In [ ]:
x='a','b','c','d'
y='apple','banana','orange','grape'

var= dict.fromkeys(x,y)
var

{'a': ('apple', 'banana', 'orange', 'grape'),
 'b': ('apple', 'banana', 'orange', 'grape'),
 'c': ('apple', 'banana', 'orange', 'grape'),
 'd': ('apple', 'banana', 'orange', 'grape')}

In [ ]:
#setdefault #have to work on ourself

In [ ]:
"""The setdefault() method in Python is used with dictionaries.
It returns the value of a specified key if it is in the dictionary.
If the key is not in the dictionary, it inserts the key with a specified default value
and then returns that value."""

In [ ]:
fruits = {
    "apple": "red",
    "banana": "yellow"
}

In [ ]:
# Case 1: Key exists in the dictionary
result = fruits.setdefault("apple", "green")
print(result)  # Output: "red"
print(fruits)  # Output: {'apple': 'red', 'banana': 'yellow'}

red
{'apple': 'red', 'banana': 'yellow'}

In [ ]:
# Case 2: Key does not exist in the dictionary
result = fruits.setdefault("orange", "orange")
print(result)  # Output: "orange"
print(fruits)  # Output: {'apple': 'red', 'banana': 'yellow', 'orange': 'orange'}

orange
{'apple': 'red', 'banana': 'yellow', 'orange': 'orange'}

In [ ]:
"""Explanation:
Case 1: The key "apple" is already in the dictionary,
so setdefault() simply returns the existing value "red" and doesn't change the dictionary.
Case 2: The key "orange" is not in the dictionary,
so setdefault() adds "orange": "orange" to the dictionary and returns "orange".
In short, setdefault() is useful when you want to ensure a key exists in a dictionary and
provide a default value if it doesn't, all in one step."""

In [ ]:
#update
sample4.update({'user3': {'name': 'vignesh', 'mobile': 4878592}})

In [ ]:
print(sample4)

{'user1': {'name': 'praba', 'mobile': 67899}, 'user2': {'name': 'dharshak', 'mobile': 357584}, 'user3': {'name': 'vignesh', 'mobile': 4878592}}

# **SEP 4 2024**

In [ ]:
#Functions in python

In [ ]:
#no return without arguments
#no return with arguments
#return without arguments
#return with arguments
#lambda functions       total 9 types of functions

In [ ]:
#no return without arguments
#def means define
def goat(): #without argument
    var = int(input())
    var1 = int(input())
    var3 = var + var1
    print(var3)   #no return

In [ ]:
goat() #we can call as many as we want

2
4
6

In [ ]:
#no return with arguments
def leo(num1,num2): # ---> values inside the brackets are called arguments
    total = num1 + num2
    print(total)

In [ ]:
leo()

TypeError: leo() missing 2 required positional arguments: 'num1' and 'num2'

In [ ]:
leo(20,20)

40

In [ ]:
leo(20)

TypeError: leo() missing 1 required positional argument: 'num2'

In [ ]:
#return without arguments

In [ ]:
def haroldp():
    a = int(input())
    b = int(input())
    c = a * b
    print(c)

def haroldr():
    a = int(input())
    b = int(input())
    c = a * b
    return c

In [ ]:
#print call
if haroldp() == 2025:
    print("print call") #if condtion not satisfied

45
45
2025

In [ ]:
#return call
if haroldr() == 2025:
    print("return call") #if condition satisfied

45
45
return call

In [ ]:
#return with arguments
def nums(a,b):
    c = int(a)+int(b)
    return c

In [ ]:
nums(25,35)

60

In [ ]:
nums("hi","ho")

ValueError: invalid literal for int() with base 10: 'hi'

In [ ]:
nums("35","35")

70

In [ ]:
nums("1","2")

3

In [ ]:
nums(45,45)

90

In [ ]:
#lambda functions

In [ ]:
def var(x):
    y = x+10
    return y

In [ ]:
var(10)

20

In [ ]:
var1 = lambda x: x + 5
# var - function name , lambda - keyword for lambda function creation ,
# x - represent the argument
# x+ 5 - remaiming logical code
# it returns the answer value

In [ ]:
var1(10)

15

In [ ]:
#task

In [ ]:
def results(m1,m2,m3):
    total = m1+m2+m3
    average = total / 3
    return total , average

def resultsf(m1,m2,m3):
    total = m1+m2+m3
    average = total / 3
    return total , average

def namestr(n1,n2,n3):
    all_names = list(n1,n2,n3)
    strof =input("do you want to add other names - y/n:")
    if strof == y:
        pass
    elif strof == n:
        print("thank you")
        return all_names

In [ ]:
input_res = input("enter you choice - float/int/string: ")
if input_res == "float":
    mark1 = float(input("markf_1:"))
    mark2 = float(input("markf_2:"))
    mark3 = float(input("markf_3:"))

    print(resultsf(mark1,mark2,mark3))

elif input_res == "int":
    markx = int(input("mark_1:"))
    marky = int(input("mark_2:"))
    markz = int(input("mark_3:"))

    print(results(markx,marky,markz))

elif input_res == "string":
    name1=input("enter the first name:")
    name2=input("enter the second name:")
    name3=input("enter the third name:")

    print(namestr(name1,name2,name3))

else:
    print("enter the given choice")

enter you choice - float/int: int
mark_1:75
mark_2:89
mark_3:59
(223, 74.33333333333333)

In [ ]:
# three names as input
# move to function
#three names should be print in list format
# ask question that "do you want to add any other name" y/n
#if y get input as name in infinitely and update the list
#if input is empty means break
#then print all the remaining names entered before as list
#n means thank you
#print the existing three names

In [ ]:
name1 = input("")
name2 = input("")
name3 = input("")
other_name = input("do you add y/n:")
empty_list = []
name_given = [name1,name2,name3]
print(name_given)
if other_name == "y":
    while other_name != " ":
        other_name =input("do you add y/n:")
if other_name == "n":
    print(name_given)

In [ ]:
varr = 1,2,3
print(varr)
print(type(varr))

(1, 2, 3)
<class 'tuple'>

In [ ]:
list(varr)

[1, 2, 3]

In [ ]:
#oops concept in python

In [ ]:
#blueprint of code
#constructor - > object

In [ ]:
class hawk: #class is a constructor / creating a object
    def __init__(self): #it is an invisible function in a class
        pass
    name = "dharsh" # attributes name and id
    id = 1

In [ ]:
mark1 = hawk() #represents the objects / a variable assinged to a class, it was a object

In [ ]:
mark1 #system memory value

In [ ]:
mark1.name

'dharsh'

In [ ]:
mark1.id

1

In [ ]:
dir(hawk)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'id',
 'name']

In [ ]:
class Employees:

    def __init__(self,name,id,age,location):
        self.ID = id
        self.NAME = name
        self.AGE = age
        self.LOCATION = location

    def show(self):
        print(self.ID,self.NAME,self.AGE,self.LOCATION,self)
        self.name = new_name
        print(self.ID,self.NAME,self.AGE,self.LOCATION,self)
    def change(self):
        # self.name=input()
        # self.show()
        pass

In [ ]:
emp1 = Employees("pk",1,34,"pondy")
emp1.show("prabakaran")

1 pk 34 pondy <__main__.Employees object at 0x7a17682b6050>
1 pk 34 pondy <__main__.Employees object at 0x7a17682b6050>

In [ ]:
emp1

In [ ]:
emp1.ID,emp1.NAME

(1, 'pk')

In [ ]:
emp1.show()

1 pk 34 pondy <__main__.Employees object at 0x7a1779215960>

In [ ]:
emp2 = Employees("dk",2,27,"pondy")

In [ ]:
emp2.NAME,emp1.NAME

('dk', 'pk')

In [ ]:
emp2

In [ ]:
emp1.show()

1 pk 34 pondy <__main__.Employees object at 0x7a1779216a10>

In [ ]:
emp2.show()

2 dk 27 pondy <__main__.Employees object at 0x7a1779215660>

# **sep 5 2024**

In [ ]:
#inheritance
class Employees:

    def __init__(self,name,id,age,location):
        self.ID = id
        self.NAME = name
        self.AGE = age
        self.LOCATION = location

    def show(self):
        print(self.ID,"Microsoft",self.NAME,self.AGE,self.LOCATION,self)

    def change(self,new_name):
       self.name = new_name
       print(self.ID,self.NAME,self.AGE,self.LOCATION,self)

class zoho(Employees):

    def __init__(self,name,id,age):
        self.NAME=name
        self.ID=id
        self.AGE=age
        print(self.ID,"Zoho",self.NAME,self.AGE,self)

In [ ]:
obj1 = zoho("prabakran",1,33)

1 Zoho prabakran 33 <__main__.zoho object at 0x7a1779217010>

In [ ]:
obj1.show()

AttributeError: 'zoho' object has no attribute 'LOCATION'

# **SEP 9 2024**

In [ ]:
#two classes
#library class --> book availability , book issue / lending , adding the books
#customer class --> requesting the book , return the book

In [ ]:
#library management
#requirements
#welcome to the pondy library :)
#choose your option
#1.show all the books
#2.lend a book
#3.requesting a book
#4.add the book to the customer
#5.return the book to the library
#6.exit

In [ ]:
class library:
    def __init__(self):
        self.BOOKLIST = ["book1","book2","book3","book4","book5"]
    def show(self):
        print(self.BOOKLIST)
    def book_lend(self,rqd_book):

        if rqd_book in self.BOOKLIST:
            print("book lended successfully")
            self.BOOKLIST.remove(rqd_book)
            return rqd_book

        else:
            print("book is not available")

    def returned_book(self,r_book):
        if r_book in self.BOOKLIST:
            print("book returned sccessfully")
            self.BOOKLIST.append(r_book)

        else:
            print("book is not returned")
class customer:
    def __init__(self):
        self.cust_book_list = []
    def show(self):
        print(self.cust_book_list)
    def requesting_book(self):
        req_book = input("enter the book name:")
        return req_book
    def lended_cust_book(self,l_book):
        self.cust_book_list.append(l_book)

In [ ]:
obj_lib = library()
obj_cust = customer()

In [ ]:
print("welcome to the Pondy Library :)")
print()
print("choose your option below")
print("1.show all the books:")
print("2.lend a book:")
print("3.show customer book list")
print("4.return a book")
print("6.exit")
print()

while True:
    options = int(input("enter the option 1/2/3/4/5:"))
    print()
    if options ==1:
        obj_lib.show()
    elif options ==2:
        rqd_book=obj_cust.requesting_book()
        lended_book=obj_lib.book_lend(rqd_book)
        obj_cust.lended_cust_book(lended_book)
    elif options==3:
        obj_cust.show()
    elif options==4:
        rtn_book = obj_lib.returned_book(r_book)
        print("book returned successfully")
    elif options==5:
        print("thank you")
        break

welcome to the Pondy Library :)

choose your option below
1.show all the books:
2.lend a book:
3.show customer book list
4.return a book
6.exit

enter the option 1/2/3/4/5:1

['book1', 'book2', 'book3', 'book4', 'book5']
enter the option 1/2/3/4/5:2

enter the book name:book3
book lended successfully
enter the option 1/2/3/4/5:3

['book3']
enter the option 1/2/3/4/5:4

NameError: name 'r_book' is not defined

# 10 sep 2024

# linked list

# 12 sep 2024

![Singlelinkedlist.png]()

In [ ]:
class node():
    def __init__(self,data):
        self.data_value = data
        self.next_value = None
class linked_list():
    def __init__(self):
        self.head_value = None
    def show(self):
        temp = self.head_value    #self.head_value = n1.head_value = temp
        while temp is not None:
            print(temp.data_value)    #n1.head_value.data_value = "pk"
            temp = temp.next_value    #temp = n1.head_value.next_value
    def insert_bet(self,old_node,new_data):
        new_node = node(new_data)
        new_node.next_value = old_node.next_value
        old_node.next_value = new_node

In [ ]:
n1 = linked_list()

In [ ]:
print(n1.head_value)

None

In [ ]:
n1.head_value = node("pk")
n2 = node("vig")
n3 = node("dhar")
n4 = node("lok")
n5 = node("toni")
n1.head_value.next_value = n2
n2.next_value = n3
n3.next_value = n4
n4.next_value = n5

In [ ]:
n1.head_value

In [ ]:
n1.head_value.data_value

'pk'

In [ ]:
print(n1.head_value.next_value)

None

In [ ]:
n1.head_value.next_value,n2

(<__main__.node at 0x78869a20eec0>, <__main__.node at 0x78869a20eec0>)

In [ ]:
print(n1.head_value.next_value.data_value)

vig

In [ ]:
n1.head_value.next_value.data_value

'vig'

In [ ]:
n2.data_value,n2.next_value

('vig', None)

In [ ]:
n3,n2.next_value

(<__main__.node at 0x78869a20f730>, <__main__.node at 0x78869a20f730>)

In [ ]:
n1.head_value.next_value.next_value.data_value

'dhar'

In [ ]:
n4.next_value = n5

In [ ]:
n1.show()

pk
vig
dhar
lok
toni

# 16 sep 2024

In [ ]:
class node():
    def __init__(self,data):
        self.data_value = data
        self.next_value = None
class linked_list():
    def __init__(self):
        self.head_value = None
    def show(self):
        temp = self.head_value    #self.head_value = n1.head_value = temp
        while temp is not None:
            print(temp.data_value)    #n1.head_value.data_value = "pk"
            temp = temp.next_value    #temp = n1.head_value.next_value
    def insert_bet(self,old_node,new_data):
        new_node = node(new_data)
        new_node.next_value = old_node.next_value
        old_node.next_value = new_node
    def insert_begi(self,newdata):
        new_node = node(newdata)
        new_node.next_value = self.head_value
        self.head_value = new_node
    def insert_last(self,old_node,new_data):
        new_node=node(new_data)
        old_node.next_value = new_node

In [ ]:
n1 = linked_list()

In [ ]:
n1.head_value = node("pk")
n2 = node("vig")
n3 = node("dhar")
n4 = node("lok")
n5 = node("toni")
n1.head_value.next_value = n2
n2.next_value = n3
n3.next_value = n4
n4.next_value = n5

In [ ]:
n1.show()

pk
vig
dhar
lok
toni

In [ ]:
n1.insert_bet(n3,"thor")

In [ ]:
n1.show()

pk
vig
dhar
thor
lok
toni

In [ ]:
n1.insert_begi("hawk")

In [ ]:
n1.show()

hawk
pk
vig
dhar
thor
lok
toni

In [ ]:
n1.insert_last(n5,"black")

In [ ]:
n1.show()

hawk
pk
vig
dhar
thor
lok
toni
black

# 19 sep 2024

# TREE Data STRUCTURE

In [17]:
class node():
    def __init__(self,data):
        self.left = None
        self.right = None
        self.main = data
    def show(self):
        if self.left:
            self.left.show()

        print(self.main)

        if self.right:
            self.right.show()
    def insert(self,new_data):
        if self.main:
            if new_data < self.main:
                if self.left is None:
                    self.left = node(new_data)
                else:
                    self.left.insert(new_data)      #recursion function
            elif new_data > self.main:
                if self.right is None:
                    self.right = node(new_data)
                else:
                    self.right.insert(new_data)
        else:
            self.main = node(new_data)

In [18]:
node_obj = node(50)

In [23]:
node_obj.insert(35)
node_obj.insert(76)
node_obj.insert(45)
node_obj.insert(22)
node_obj.insert(21)
node_obj.insert(47)
node_obj.insert(89)
node_obj.insert(43)
node_obj.insert(23)
node_obj.insert(17)
node_obj.insert(15)
node_obj.insert(14)
node_obj.insert(90)

In [24]:
node_obj.show()

14
15
17
21
22
23
35
43
45
47
50
76
89
90